
.page-header {
  margin-bottom: 2.75rem;

  &-title {
    font-size: 1.5rem;
    font-weight: 300;
    color: @color-text-heading;
  }

  &-subtitle {
    font-size: @font-size-sm;
    font-weight: 400;
    color: @color-text-primary;
    margin-top: @spacing-1;
  }
}
