@import '../theme/default/variables.less';

.profile {
  &-card {
    text-align: center;
  }

  &-avatar {
    width: 80px;
    height: 80px;
  }

  &-points {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: background 0.15s;
  }
}
