@import '../theme/default/variables.less';

.appheader {
  display: flex;
  align-items: center;
  min-height: @navbar-height;
  position: sticky;
  top: 0;
  z-index: 20;

  &-left, &-right {
    width: 48px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-back {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  &-center {
    flex: 1;
    text-align: center;
    overflow: hidden;
  }

  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-slogan {
    white-space: nowrap;
  }
}
