@import '../theme/default/variables.less';

.appheader {
  display: flex;
  align-items: center;
  min-height: 7rem;
  align-items: flex-end;
  position: sticky;
  top: 0;
  z-index: 1;

  &-left, &-right {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &-left { justify-content: flex-start; padding-left: @spacing-2; }
  &-right { justify-content: flex-end; padding-right: @spacing-2; }

  &-back {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  &-center {
    text-align: center;
    overflow: hidden;
    flex-shrink: 1;
  }

  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-slogan {
    white-space: nowrap;
  }
}
