@import './variables.less';

.page-header {
  margin-bottom: 2.75rem;

  &-title {
    font-size: 2rem;
    font-weight: 300;
    color: @gray-800;
  }

  &-subtitle {
    font-size: @font-size-sm;
    font-weight: 400;
    color: @gray-400;
    margin-top: @spacing-1;
  }
}
