@import './variables.less';

.toast {
  background: @gray-900;
  color: white;
  font-size: @font-size-base;
  font-weight: 600;
  padding: @spacing-3 @spacing-6;
  border-radius: @radius-full;
  box-shadow: @shadow-lg;
}
